.login-form {
    padding: 20px;
    width: 360px;
    margin: auto;
    background-color: white;
    box-shadow: 0 3px 6px var(--shadow-85), 0 3px 6px var(--shadow-75);
    margin-top: 20vh;


}

.login-title {

    font-family: Poppins;
}



.register-txt {
    cursor: pointer;
    color: var(--primary-color);
}


.sp-label-2 {
    font-size: 14px;
    margin: 5px;
    margin-left: 16px;
    font-family: Nunito Sans;
    font-weight: bold;
    color: #6c757d;
}